<!DOCTYPE html>
<html lang="en-US" ng-app="github">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
</head>
	
<body ng-controller="githubController">
	<input name="repoInput" ng-model="repo"></input>
	<button type="button" ng-click="getIssues(repo)">Click Me!</button>
	<div class="user-data" ng-if="visible==0">
		<div>
			<div class="user-name">{{}}</div>
			<div class="user-userImage">
				<img ng-src=""/>
			</div>
			<div class="user-issue-closed">{{data.length}}</div>
			<div ng-repeat="issues in data">
				<li><span>{{issues.user.login}}</span><img ng-src={{issues.user.avatar_url}}></li>
			</div>
		</div>
	</div>

	<div ng-if="visible==1">
		<div>No user or data not available</div>
		<div>{{errordata}}</div>
	</div>
	<!-- username/repo>
	<userAvatarImage><total Number Of Issue Closed><list all the user whose issue is closed(<total number of follower of a user>)>

 -->

</body>
</html>